<li>
    <%= link_to items_path do %>
      <i class="fa fa-table fa-fw"></i> Items
    <% end %>
</li>
<li>
    <%= link_to chefs_path do %>
      <i class="fa fa-table fa-fw"></i> Orders
    <% end %>
</li>
<li>
    <%= link_to "#" do %>
      <i class="fa fa-table fa-fw"></i> Reports
    <% end %>
</li>
<li>
    <%= link_to warning_orders_path do %>
    <i class="fa fa-table fa-fw"></i> Orders Warning
    <%end%>
</li>