<!-- Loading -->
<div id="loader-container">
  <div id="loading" role="dialog"><%= image_tag("loading.gif") %></div>
</div>
<!-- Small modal -->
<input type="hidden" class="modal-order" data-toggle="modal" data-target=".modal-status"></input>
<div class="modal fade modal-status" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    </div>
  </div>
</div>