<li>
    <%= link_to orders_path do %>
      <i class="fa fa-table fa-fw"></i> New Orders
    <% end %>
</li>
<!-- <li>
    <%#= link_to new_order_without_table_path do %>
      <i class="fa fa-table fa-fw"></i> New Order Without Table
    <%# end %>
</li> -->
<li>
    <%= link_to orders_table_unpaid_path do %>
      <i class="fa fa-table fa-fw"></i> Show Detail Orders
    <% end %>
</li>