<li>
    <%= link_to orders_path do %>
      <i class="fa fa-table fa-fw"></i> New Orders
    <% end %>
</li>
<li>
    <%= link_to order_unpaid_without_table_path do %>
      <i class="fa fa-table fa-fw"></i> Order Without Table
    <% end %>
</li>
<!-- <li>
    <%#= link_to orders_table_unpaid_path do %>
      <i class="fa fa-table fa-fw"></i> Orders With Table
    <%# end %>
</li> -->