<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">New Order Without Table</h2>
  </div>
</div>
<div class="row">
<div class="col-lg-12">
  <h4><b><%= "Order ID : #{@line_item.order_id}" %></b></h4>
  </div>
</div>

<%= render "shared/search_form" %>
<%= render "shared/result_search" %>